<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pintu.neostore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCk5PA2DfmCCF7nI9YbZ0PfB2I8VyYg4KQ" />

        <activity android:name=".view.drawer.store_locator.StoreLocator"></activity>
        <activity android:name=".view.drawer.order.OrderDetails" />
        <activity android:name=".view.drawer.order.OrderList" />
        <activity android:name=".view.drawer.order.Address" />
        <activity android:name=".view.drawer.mycart.empty_cart" />
        <activity android:name=".view.drawer.tabel.ProductDetailed" />
        <activity android:name=".view.drawer.MyAccount.ResetPass" />
        <activity android:name=".view.drawer.MyAccount.EditProfile" />
        <activity android:name=".view.drawer.tabel.Tables" />
        <activity android:name=".view.drawer.MyAccount.MyAccount" />
        <activity android:name=".view.drawer.mycart.MyCart" />
        <activity android:name=".view.home.Home" />
        <activity android:name=".view.register.Register" />
        <activity android:name=".view.forgot.Forgot" />
        <activity android:name=".view.login.Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>